source ~/.vimrc

set ideajoin
set ideamarks

let mapleader="\\"

" Workkaround Fix C-o C-t behaviour (should be fixed in future ideavim
" versions
nmap <C-o> :action Back<CR>
nmap <C-i> :action Forward<CR>

nmap <Leader>rn :action RenameElement<CR>
nmap <Leader>run :action RunClass<CR>
nmap <Leader>ca :action ShowIntentionActions<CR>

nmap <Leader> <Plug>(easymotion-prefix)
xmap <Leader> <Plug>(easymotion-prefix)

xmap f <Plug>(easymotion-bd-f)
nmap f <Plug>(easymotion-bd-f)

xmap t <Plug>(easymotion-bd-t)
nmap t <Plug>(easymotion-bd-t)

nnoremap gd :action GotoDeclaration<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gu :action FindUsages<CR>
nnoremap gp :action GotToSuperMethod<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

nnoremap <Leader>fzf :action SearchEverywhere<CR>

" Using for hover in the lsp in the .vimrc
unmap K

nmap [m <Action>(MethodUp)
nmap ]m <Action>(MethodDown)
